/* CUSTOM VARIABLES */
:root {
    /* FONTS  */
    --ff-sans: 'Advent Pro', sans-serif;

    /* COLORS  */
    --clr-bg: hsl(205 74% 8%);
    --clr-white: #fff;
}

/* RESET  */
*,
*::before,
*::after {
    box-sizing: border-box;
}


/* TYPOGRAPHY  */
.--ff-sans-400,
.--ff-sans-700 {
    font-family: var(--ff-sans);
}

.--ff-sans-400 { font-weight: 400;}
.--ff-sans-700 { font-weight: 700;}

.uppercase { text-transform: uppercase;}

/* GENERAL */
body {
    margin: 0;
    padding: 0;
    background-color: var(--clr-bg);
    color: var(--clr-white);
    font-family: var(--ff-sans);
}

/* STYLING */
.header {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1em 0;
}

.logo {
    margin-left: 5%;
}

.logo a {
    color: var(--clr-white);
    text-decoration: none;
    font-size: 2.5rem;
}

.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2%;
    margin-right: 5%;
}

.search {
    background-color: rgba(254, 254, 254, 0.05);
    border-radius: 8px;
    border: none;
    width: 100px;
    display: none;
    color: var(--clr-white);
    font-size: .9em;
}

.search-label {
    cursor: pointer;
}

.search-label img {
    width: 30px;
    aspect-ratio: 1;
    opacity: 70%;
}

/* MAIN  */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.city-name {
    font-size: 2.5em;
    margin: 0;
}


.date {
    font-size: 1.5em;
}

.temp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.temp-container img {
    width: 210px;
    aspect-ratio: 1;
}

.temp {
    font-size: 7rem;
    padding: 0;
    margin: 0;
    height: 100%;
    text-align: center;
}

.extra-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35%;
}

.extra-info img {
    width: 80px;
    aspect-ratio: 1;
    margin: 10% 0;
}

.extra-info p {
    font-size: 1.8em;
    margin: -8px;
}


